.search_container {
  --input-height: 50px;
  position: relative;
  width: clamp(50px, 50vw, 300px);
  flex: 1;
}

.search_field {
  height: var(--input-height);
  width: 100%;
  border: 0;
  /* border: 1px lightgray solid; */
  /* border-radius: 4px; */
  padding: 0.5rem;
  transition: var(--transition);
  outline: none;
  font-size: clamp(18px, 7vw, 2rem);
  font-weight: bold;
  background: transparent;
}

.search_field:focus {
  /* border: 1px darkgrey solid; */
}

.results_table {
  top: calc(var(--input-height) + 2.5rem);
  position: absolute;
  border-collapse: collapse;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg);
  animation: fadeIn 0.3s ease-in-out forwards;
  opacity: 0;
  border-bottom: 1px solid lightgray;
}

.results_table button {
  background: transparent;
  border: transparent;
}

.results_table tr {
  cursor: pointer;
  transition: var(--transition);
}

.results_table td {
  padding: 1rem 0.5rem;
  text-align: start;
  vertical-align: middle;
}

.results_table tr:hover {
  background-color: lightgray;
}

.results_table .results_image {
  position: relative;
  height: 50px;
  width: 50px;
  object-fit: contain;
  padding: 0 10px;
}

.track_details .track_name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  max-width: 30vw;
  white-space: nowrap;
}
.track_details .album_name {
  font-size: 0.5rem;
  color: grey;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
